exportPattern("^[^\\.]")
import(lme4)
import(splines)
import(car)
import(coxme)
import(abind)
import(gplots)
import(survival)
importFrom("grDevices", "rainbow")
importFrom("graphics", "polygon", "barplot", "boxplot", "lines", "par", "plot")
importFrom("stats", "D", "binomial", "rbinom", "glm", "lm", "predict", "qnorm",
           "quantile", "sd", "weighted.mean", "rmultinom", "rnorm", "scatter.smooth")
importFrom("stats", "aggregate", "as.formula", "na.pass", "vcov")
S3method(summary,mlma.boot)
S3method(print,summary.mlma.boot)
S3method(plot,mlma.boot)
S3method(print,mlma.boot)
S3method(summary,mlma)
S3method(print,summary.mlma)
S3method(print,mlma)
S3method(plot,mlma)
S3method(print,joint.effect)
